.prod-detail
{
  border: 1px solid;
  display: flex;
  
}

.prod-img-detail
{
    width:330px;
    height: 350px;
    object-fit: fill;
    margin: 30px;
    border: 1px solid rgba(38, 148, 131, 0.904);
}

.prod-btn-detail
{
    width:100px;
    height:40px;
    margin:30px;
    border: 1px solid purple;
}


.prod-para-detail
{
    margin-top:30px;
}

h3{
    color: green;
}

li{
    list-style: none;
}