.main
{
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

.main-div-left
{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  flex: 1;
 
  gap:10px;
}
.box-1
{
  width:900px;
  border: 1px solid pink;
}
.box-img-1
{
  display: flex;
  gap: 10px;
  align-items: center;
}



.img-left
{
  border: 1px solid red;
  width: 70px;
  height: 70px;
  margin: 5px;
}


.box-img-2
{
  display: flex;
  gap:10px;
  margin: 5px;
  /* height:40px; */
  align-items: center;
}

.box-2
{
  border: 2px solid #4169e1;
  
}


.main-div-right {
  border: 1px solid green;
  width: 410px;
  height: 300px;
  display: flex;
  flex-direction: column;
 
  padding:5px; 
 
}
 

 